@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal; }
.block {
  height: 100px;
  max-width: 100%; }

.container-primary {
  padding: 16px;
  max-width: 1536px;
  width: 100%;
  margin: 0 auto; }

/* -- HEADER -- */
header {
  display: flex;
  justify-content: center; }

.header-block {
  width: 100%; }

.header-background {
  padding: 0 10px;
  height: 60px;
  background-color: #eef2f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 10px; }

.header-logo:hover {
  cursor: pointer; }

.header-options-button {
  margin: 0 5px 0 0;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: roboto, arial, sans-serif;
  font-weight: 700;
  color: #b5b5b5;
  width: 60px;
  transition: 0.5s; }

.header-options-button:hover {
  cursor: pointer;
  color: #012158;
  transition: 0.5s;
  background-color: #FFFFFF;
  opacity: 0.7;
  box-shadow: 2px 2px 5px 1px grey;
  -moz-box-shadow: 2px 2px 5px 1px grey;
  -webkit-box-shadow: 2px 2px 5px 1px grey; }

.header-options-button svg {
  fill: #b5b5b5;
  transition: 0.5s; }

.header-options-button:hover svg {
  fill: #012158;
  transition: 0.5s; }

.hidden {
  display: none; }

.header-menu {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%; }

.header-menu nav {
  font-family: roboto, arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #012158;
  padding: 8px;
  transition: 0.5s; }

.header-menu nav:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: 0.5s; }

.header-options {
  display: flex;
  justify-content: space-between; }

/* -- MAIN - Search -- */
.index-page-search-block {
  position: relative;
  height: 700px;
  background-image: url(../img/index_background_search_block.jpg);
  background-size: cover;
  border-radius: 10px; }

.main-search-block {
  margin: 220px 0 0 80px;
  width: 660px;
  background-color: #eef2f6;
  opacity: 0.82;
  border-radius: 7px;
  position: absolute;
  transition: 0.5s; }

.main-search-block:hover {
  transition: 0.5s;
  opacity: 1; }

.main-search-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1.2 !important; }

.main-search-parameters {
  display: flex;
  justify-content: space-between; }

.search-btn-group {
  display: flex;
  justify-content: flex-end; }

.search-btn-group button svg {
  fill: #FFFFFF; }

.button-red {
  margin: 0 13px 0 0;
  background-color: #dc1c2e !important;
  border-color: #dc1c2e !important; }

.button-red:hover {
  background-color: #9f0817 !important;
  border-color: #9f0817 !important; }

.button-blue {
  margin: 0 8px 0 0;
  background-color: #003da5 !important;
  border-color: #003da5 !important; }

.button-blue:hover {
  background-color: #01286b !important;
  border-color: #01286b !important; }

.form-label {
  font-family: roboto, arial, sans-serif !important;
  font-weight: 700;
  font-size: 14px; }

.form-select {
  width: 94% !important; }

.index-page-search-block-header-txt-high {
  position: absolute;
  margin: 80px 0 0 80px;
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-weight: 100;
  font-size: 45px;
  text-transform: uppercase; }

.index-page-search-block-header-txt-low {
  position: absolute;
  margin: 130px 0 0 80px;
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-size: 35px;
  text-transform: uppercase; }

/* -- MAIN - Carousel -- */
.index-page-statistic-carousel {
  border-radius: 10px; }

.carousel-inner {
  border-radius: 10px;
  background-size: cover; }

/* -- MAIN - Offers -- */
.offers-carousel-item {
  display: flex;
  flex-direction: column; }

.offers-carousel-cart-block {
  padding: 20px;
  height: 500px;
  display: flex;
  justify-content: space-around; }

.offers-carousel-item-name-1, .offers-carousel-item-name-2, .offers-carousel-item-name-3 {
  padding: 15px 0 0 50px;
  text-transform: uppercase;
  font-family: roboto, arial, sans-serif;
  font-weight: 300;
  font-size: 42px; }

.offers-carousel-item-name-1 {
  color: #003da5; }

.offers-carousel-item-name-2 {
  color: #012158; }

.offers-carousel-item-name-3 {
  color: #dc1c2e; }

.carousel-indicators button {
  background-color: #eef2f6 !important;
  width: 250px !important; }

/* -- CARTS -- */
.offer-cart {
  height: 400px;
  width: 310px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #FFFFFF;
  transition: 0.5s; }

.offer-cart:hover {
  box-shadow: 2px 2px 5px 1px grey;
  -moz-box-shadow: 2px 2px 5px 1px grey;
  -webkit-box-shadow: 2px 2px 5px 1px grey;
  transition: 0.5s; }

.offer-cart:hover {
  cursor: pointer; }

.offer-cart-img {
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  width: 100%;
  height: 250px; }

.offer-cart-properties {
  padding: 10px; }

.offer-cart-name {
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-weight: 700;
  font-size: 22px; }

.offer-cart-description {
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-weight: 300;
  font-size: 12px; }

.offer-cart-price {
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-weight: 300;
  font-size: 15px; }

.offer-cart-price span {
  color: #dc1c2e; }

/* -- MAIN - Search -- */
.index-page-aboutus-story {
  border-radius: 10px;
  background-color: #eef2f6; }

.index-page-aboutus-story h2 {
  padding: 24px 0px 0 80px;
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase; }

.index-page-aboutus-story p {
  padding: 24px 80px 48px 80px;
  font-family: roboto, arial, sans-serif;
  color: #012158;
  font-weight: 300;
  font-size: 18px; }

/* -- FOOTER -- */
footer {
  background-color: #eef2f6; }

.footer-content {
  padding: 50px 0;
  display: flex;
  justify-content: space-around; }

.social-icons {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  width: 170px; }

.social-icons-item {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #92a9ce;
  display: flex;
  align-items: center;
  transition: 0.5s; }

.social-icons-item:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px grey;
  -moz-box-shadow: 2px 2px 5px 1px grey;
  -webkit-box-shadow: 2px 2px 5px 1px grey;
  transition: 0.5s; }

.social-icons-item svg {
  fill: #003da5;
  margin: 0 auto; }

.copiright {
  font-family: roboto, arial, sans-serif;
  color: #b5b5b5;
  font-weight: 300;
  font-size: 16px; }

.footer-content-navigate h3 {
  font-family: roboto, arial, sans-serif;
  color: #003da5;
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 40px 0; }

.footer-content-navigate p {
  font-family: roboto, arial, sans-serif;
  color: #003da5;
  font-weight: 300;
  font-size: 14px; }

.footer-content-navigate p:hover {
  cursor: pointer;
  font-weight: 400; }

@media(max-width: 1333px) {
  .hid1 {
    display: none; } }
@media(max-width: 1023px) {
  .hid2 {
    display: none; }

  .offer-cart {
    box-shadow: 2px 2px 5px 1px grey;
    -moz-box-shadow: 2px 2px 5px 1px grey;
    -webkit-box-shadow: 2px 2px 5px 1px grey; } }
@media(max-width: 768px) {
  .index-page-search-block-header-txt-high, .index-page-search-block-header-txt-low, .main-search-block {
    margin-left: 20px; }

  .container-primary {
    padding: 5px; }

  .footer-content {
    padding-top: 16px; }

  .footer-content-navigate p {
    margin-bottom: 0; } }
@media(max-width: 767px) {
  .hid3 {
    display: none; } }

/*# sourceMappingURL=index.css.map */
